body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('/background.jpg');
  background-size: 100%;
}
.app-container {
  margin-top: 20px;
}
textarea:focus {
  outline: none;
}
