.btn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 7px 12px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
	padding: 4px 12px;
	font-weight: 100;
	letter-spacing: 4px;
	transition: 600ms cubic-bezier(0, 1.36, 0.31, 1.45);
	&:hover {
		color: black;
		letter-spacing: 2px;
    font-weight: 400;
  }
  &.blue {
    background-color: #55acee;
  }
  &.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
  }
  &.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
  }
  &.white-purple {
    font-weight: 700;
    color: #664e96;
    border-color: white;
    background: white;
  }
  &.white-purple:hover {
    color: white;
    background: #664e96;
    border-color: white;
  }
}
@media screen and (max-width: 700px) {
  .btn {
    letter-spacing: 0px;
    &:last-child {
      margin-top: 5px;
    }
  }
}
