#posts-new {
  padding: 10px; }
  #posts-new > form {
    width: 70%;
    margin: 0 auto; }
    #posts-new > form .label {
      display: block;
      padding: 15px 0px;
      color: #664e96;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px; }
    #posts-new > form .post-new-textarea {
      resize: none;
      width: 97%;
      margin: 0 auto;
      display: block;
      color: #664e96;
      border: 1px solid lightblue;
      border-radius: 7px; }
      #posts-new > form .post-new-textarea:focus {
        outline: none; }
      #posts-new > form .post-new-textarea.title {
        font-size: 24px; }
      #posts-new > form .post-new-textarea.content {
        font-size: 18px;
        min-height: 70px; }
    #posts-new > form .form-input {
      margin-bottom: 20px; }
    #posts-new > form .error-message {
      color: red;
      margin-bottom: 10px; }
    #posts-new > form .footer {
      border: 1px solid lightcyan;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
